{% extends 'base.html'%}
{% block title %}
Hotel Homepage
{% endblock %}

{% block intro %}

<style>
div {

     margin-bottom: 10px;
}

.img {
  float: left;
  padding-right:15px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

</style>

<h2 style="clear:right">客房照片</h2>

<div class="clearfix">
  <img class="img" src="{{ url_for('static', filename='attraction16.jpg') }}" alt="attraction img" width="170" height="170">
  <p>這個長達一公里的露天市集位於通菜街，匯集逾百個攤子販售價格相宜的服裝、飾物、化妝品及家居用品。但可別被「女人街」這個名字誤導了！這裡亦販售男裝、電子用品以至玩具，是一眾精明旅客選購廉價服飾與紀念品的熱點。「女人街」大多數攤販於中午左右至晚上11時半營業。從城景國際步行約5分鐘或乘搭港鐵前往港鐵旺角站，約2分鐘。</p>
</div>

<div class="clearfix">
  <img class="img" src="{{ url_for('static', filename='attraction15.jpg') }}" alt="attraction img" width="170" height="170">
  <p>位於旺角心臟地帶的朗豪坊商場，樓高15層，是區內的潮流熱點。商場近200間店舖薈萃國際及本地潮流品牌，包括時裝、美容、精品玩具、生活品味、特色餐飲食肆和戲院等，讓你享受一站式的購物消閒樂趣，盡情血拼！</p>
  <a href="http://www.langhamplace.com.hk/tc/">http://www.langhamplace.com.hk/tc/</a>
</div>




{% endblock %}

{% block content %}


{% endblock %}


