{% extends 'base.html'%}
{% block title %}
Hotel Homepage
{% endblock %}

{% block intro %}

<style>

      .container {
       display: flex;
      }


      @media only screen and (max-width: 768px) {
            flex-direction: column;

      }


</style>



<div class="container" >
      <div style="flex: 1;">
<img src="{{ url_for('static', filename='wechat_QR02.jpg') }}" alt="qr code" style="width:90%; margin-right:30px">
      </div>

      <div style="flex: 1;">
            <h2>預訂及查詢</h2>
            <p>歡迎掃二維碼預訂和查詢</p>
            <p>我們都是您的首選。</p>
            <p>我方蕾盡物樂趣。</p>
            <p>務中心，提供打印、傳真等服務，滿求。</p>
            <p>們的目標是讓您的住宿盡可能舒適愉快，好的回憶。</p>
            <p>如果您正的不二之選旅程！</p>
      </div>
</div>

{% endblock %}

{% block content %}


{% endblock %}

