{% extends 'base.html'%}
{% block title %}
Hotel Homepage
{% endblock %}

{% block intro %}
      <h2>關於我們</h2>
      <p>歡迎光臨旺景賓館！</p>
      <p>旺景賓館是一家位於市中心的理想住宿地點，擁有便利的交通和豐富的周邊設施，無論您是出差還是旅遊，我們都是您的首選。</p>
      <p>我們的優點之一就是交通便利。旺景賓館距離最近的地鐵站僅僅3分鐘步行路程，讓您輕鬆抵達城市的各大主要景點和商務中心。不僅如此，周邊的公共交通網絡也十分發達，讓您暢遊城市變得更加便捷。</p>
      <p>飲食方面，賓館附近擁有各式各樣的食肆，從當地美食到國際佳餚應有盡有。您可以在附近的餐廳品嚐地道的美食，讓您的味蕾盡情享受。此外，賓館周邊還有多家購物中心，讓您盡情探索時尚潮流或購買紀念品，盡情享受購物樂趣。</p>
      <p>無論您是來此出差還是旅遊，旺景賓館都能滿足您的需求。我們提供舒適溫馨的客房，配備現代化的設施，為您提供寧靜休憩的空間。免費高速無線網絡覆蓋整個賓館，方便您隨時隨地保持聯繫。此外，賓館還設有商務中心，提供打印、傳真等服務，滿足您在商務旅行中的需求。</p>
      <p>我們熱情的員工將竭誠為您服務，無論您對於旅遊景點還是城市的文化歷史有任何疑問，都可以隨時向我們尋求幫助。我們的目標是讓您的住宿盡可能舒適愉快，讓您留下美好的回憶。</p>
      <p>如果您正在尋找一家交通便利、食肆購物方便的酒店，不論是工作還是旅遊，旺景賓館都是您的不二之選。期待在不久的將來與您相見，讓我們一同共創美好的旅程！</p>


{% endblock %}

{% block content %}


{% endblock %}

